* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
}

.slide-container {
  width: 130rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid red;
}
.fade_out {
  width: 100%;
  height: 47.8rem;
  display: flex;
  flex-direction: row;
  margin-top: 12rem;
}
.left_click_div {
  width: 16rem;
  height: 47.8rem;
  background: #02172a;
  /* filter: blur(3.5rem); */
  filter: drop-shadow(5rem 3px 3.5rem #02172a);
  /* border: 2px solid white; */
}
.right_click_div {
  width: 16rem;
  height: 47.8rem;
  background: #02172a;
  /* filter: blur(3.5rem); */
  filter: drop-shadow(-5rem 3px 3.5rem #02172a);
  /* border: 2px solid white; */
}

.nft_cards_div {
  /* border: 2px solid white; */
  width: 111.6rem;
  height: 43.3rem;
}

.arrow {
  width: 2rem;
  margin: 0 1rem;
}

.card_box {
  margin-right: 3rem;
}
#left_click_btn {
  margin-top: 20rem;
  margin-left: 6.7rem;
}
#right_click_btn {
  margin-top: 20rem;
  margin-left: 4rem;
}
